.seccion {
    margin-top: $separacion / 2;
    margin-bottom: $separacion / 2;
}

.contenido-centrado {
    max-width: 80rem;
}

.contenido-centrado-login {
    max-width: 50rem;
}

.contenido-centrado-contacto {
    max-width: 60rem;
}


.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.w-100 {
    width: 100%;
}